<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }} {{end}}
  {{if hascode}} {{insert head_highlight.html }} {{end}}
  {{insert head_fontawesome.html}}
  {{insert style.html}}
  {{isdef title}} <title>{{fill title}}</title> {{end}}
  <meta name="robots" content="index, follow">

  <!-- Primary Meta Tags -->
  <meta name="title" content="Anooj" />
  <meta name="description" content="Anooj's Personal Site" />
  <meta name="keywords" content="anooj patel ucsd ml research biotech quantitative finance machine learning deep learning software engineering startup founder" />

  <!-- Alternate language versions of the page -->
  <link rel="alternate" hreflang="en-us" href="https://anooj.dev" />


  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://anooj.dev" />
  <meta property="og:title" content="Anooj" />
  <meta property="og:description" content="Anooj's Personal Site" />

  <meta property="og:site_name" content="Anooj Patel" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@site_account"/>
  <meta name="twitter:creator" content="@individual_account"/>
  <meta property="twitter:url" content="https://anooj.dev" />
  <meta property="twitter:title" content="Anooj Patel" />
  <meta property="twitter:description" content="Anooj's Personal Site" />
</head>
<body>
  <header>
    <a class="title" href="/"><h2>@anoojpatel</h2></a>
    {{ insert navbar.html }}
  </header>
  <main>
    <!-- Content appended here -->
